<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <style>
    </style>
</head>
<body>
<link href="css/index-style.css">
<div class="wrapper">
    "<p>Привет, %s %s. Спасибо за регистрацию! Пожалуйста для</p> " +
    "<p>подтверждения почтового ящика перейдите по ссылке </p>" +
    "<a href = \"http://localhost:8080/Garage/activate/%s\">ссылке</a> ." +
    "<p>Приятного пользования приложением Garage!</p>"
</div>
</body>
</html>